body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid grey;
}

#dimensions {
    margin-top: 20px;
}